.container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.menubar-container {
    display: flex;
    width: 100%;
    margin-top: 0.2rem;
}

.custom-menubar {
    display: flex;
    flex-direction: row; 
    border-bottom: 2px solid #FFD580; 
    background-color: transparent;
    border: none;
}

.custom-menubar-trigger {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 2px solid #FFD580;
    transition: border-color 0.3s ease;
    color: #FFD580;
}

.custom-menubar-trigger:hover {
    background-color:  #FFD580;
    color: #808080;
}

.custom-menubar-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #808080;
    color: #FFD580;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.custom-menubar-content :focus {
    background-color: #808080;
    color: #FFD580;
}

.custom-menubar-item {
    padding: 10px 20px;
    cursor: pointer;
}

.search {
    display: flex;
    max-width: 10%;
    background-color: #808080;
    color: #FFD580;
    gap: 4px;
}

.search input {
    border: none;
    border-bottom: 1px solid #FFD580;
    border-radius: 0;
}

.search input::placeholder {
    color: #FFD580;
}

.data-\[state\=open\]\:bg-accent[data-state="open"],
.focus\:bg-accent:focus{
    background-color: #808080;
    color: #FFD580;
}

