.nav {
    width: 100%;
    display: flex;
    border-bottom: 3px solid #FFD580;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0.5em 1em;
    font-size: 20px;
}

.nav h1 {
    color: #FFD580;
    font-weight: bold;
}

.icons {
    display: flex;
    color: #FFD580;
    border: 5px;
    font-size: 24px;
    gap: 10px;
} 